<!DOCTYPE html>
<html>
<head>
<!-- dispalys grey screen if css not applied yet-->
<div id="loadOverlay" style="background-color:#333; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
<!-- dispalys grey screen if css not applied yet-->

	<title>Champions</title>
	<!-- add styles -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<header>
		<div class = "wrap">
		<!--Dynamic Champion name taken from search from index-->
			<% if(championName !== null){ %>
					<a href='index.html'><img class='logo' src ='<%='../images/squares/'+championName+'Square.png'%>'/></a>
				<b class ="title" ><%= championName %></b>
			<% } %>

			<% if(error !== null){ %>
				<b><%= error %></b>
			<% } %>
		<!--end of dynamic name change-->
			<fieldset class="searchContainerSmall">
				<form action="/" method="post">
					<input name = "Champion" type="text" class="search-input-small" placeholder=" Enter champion name" required>
					<input type="submit" class="search-button-small" value="Search">
				</form>
			</fieldset>
		</div>
	</header>
	<div class = "RunesType" >
		<fieldset class="fieldset">
			<table>
				<tr>
					<td>
						<form action="/template" method="post">
								<input name = "Champion" type="hidden" value="<%=championName%>"> 
								<input class ="primaryButton" type="submit" class="search-button" value="Primary Tree" disabled="true">
						</form>
					</td>
					<td>
						<form action="/template2" method="post">
							<input name = "Champion" type="hidden" value="<%=championName%>">
							<input class ="secondaryButton" type="submit" class="search-button" value="Secondary Tree">
						</form>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<br />
	<br />
	<!-- break to allow left align due to RunesType being a fatty-->
	<br />

	<table class ="PrecisionTree">
		<tr>
			<th colspan="3">Precision</td>
		</tr>
		<tr class = "key">
			<!--Press The Attack-->
			<td>
				<div class =tooltip>
					<img id = "P1" src = "../images/perk/8005.png" />
					<span class="tooltiptext">
						Win Rate:
						<br />Affect 1:
						<br />Effect 2:
						<br />Perfect KO: 
					</span>
				</div>
			</td> 
			<!--Lethal Tempo-->
			<td>				
				<div class =tooltip>
					<img id = "P2" src = "../images/perk/8008.png"/>
					<span class="tooltiptext">
						Win Rate:
						<br />Affect 1:
						<br />Effect 2:
						<br />Perfect KO: 
					</span>
				</div>
			</td>
			<!--Fleet Footwork-->
			<td> 
				<div class =tooltip>
					<img id = "P3" src = "../images/perk/8021.png"/>
					<span class="tooltiptext">
						Win Rate:
						<br />Affect 1:
						<br />Effect 2:
						<br />Perfect KO: 
					</span>
				</div>
			</td> 
		</tr>
		<tr class ="nonKey">
			<!--Overheal-->
			<td> 
				<div class =tooltip>
					<img id = "P4" src = "../images/perk/9101.png"/>
					<span class="tooltiptext">
						Win Rate:
						<br />Affect 1:
						<br />Effect 2:
						<br />Perfect KO: 
					</span>
				</div>
			</td> 
			<!--Triumph-->
			<td> 
				<div class =tooltip>
					<img id = "P5" src = "../images/perk/9111.png"/>
					<span class="tooltiptext">
												Win Rate:
					</span>
				</div>
			</td> 
			<!--Presence Of Mind-->
			<td> 
				<div class =tooltip>
					<img id = "P6" src = "../images/perk/8009.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td> 
		</tr>
		<tr class ="nonKey">
			<!--Legend: Alacrity-->
			<td> 
				<div class =tooltip>
					<img id = "P7" src = "../images/perk/9104.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td> 
			<!--Legend: Tenacity-->
			<td> 
				<div class =tooltip>
					<img id = "P8" src = "../images/perk/9105.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td> 
			<!--Legend: Bloodline-->
			<td> 
				<div class =tooltip>
					<img id = "P9" src = "../images/perk/9103.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td> 
		</tr>
		<tr class = "nonKey">
			<!--Coup De Grace-->
			<td> 
				<div class =tooltip>
					<img id = "P10" src = "../images/perk/8014.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td> 
			<!--Cut Down-->
			<td> 
				<div class =tooltip>
					<img id = "P11" src = "../images/perk/8017.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td> 
			<!--Last Stand-->
			<td> 
				<div class =tooltip>
					<img id = "P12" src = "../images/perk/8299.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td> 
		</tr>
	</table>
	<table class ="DominationTree">
		<tr>
			<th colspan="3">Domination</td>
		</tr>
		<tr class = "key">
			<!--Electrocute-->
			<td> 
				<div class =tooltip>
					<img id = "D1" src = "../images/perk/8112.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td> 
			<!--Predator-->
			<td> 
				<div class =tooltip>
					<img id = "D2" src = "../images/perk/8124.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Dark Harvest-->			
			<td> 
				<div class =tooltip>
					<img id = "D3" src = "../images/perk/8128.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class ="nonKey">
			<!--Cheap Shot-->
			<td> 
				<div class =tooltip>
					<img id = "D4" src = "../images/perk/8126.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Taste of Blood-->
			<td> 
				<div class =tooltip>
					<img id = "D5" src = "../images/perk/8139.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Sudden Impact-->
			<td> 
				<div class =tooltip>
					<img id = "D6" src = "../images/perk/8143.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class ="nonKey">
			<!--Zombie Ward-->
			<td> 
				<div class =tooltip>
					<img id = "D7" src = "../images/perk/8136.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Ghost Poro-->
			<td> 
				<div class =tooltip>
					<img id = "D8" src = "../images/perk/8120.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Eyeball Collection-->
			<td> 
				<div class =tooltip>
					<img id = "D9" src = "../images/perk/8138.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class = "nonKey">
			<!--Ravenous Hunter-->
			<td> 
				<div class =tooltip>
					<img id = "D10" src = "../images/perk/8135.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Ingenious Hunter-->
			<td> 
				<div class =tooltip>
					<img id = "D11" src = "../images/perk/8134.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Relentless Hunter-->
			<td> 
				<div class =tooltip>
					<img id = "D12" src = "../images/perk/8105.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
	</table>
	<table class ="SorceryTree">
		<tr>
			<th colspan="3">Sorcery</td>
		</tr>
		<tr class = "key">
			<!--Summon Aery-->
			<td> 
				<div class =tooltip>
					<img id = "S1" src = "../images/perk/8214.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Arcane Comet-->
			<td> 
				<div class =tooltip>
					<img id = "S2" src = "../images/perk/8229.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td> 
			<!--Phase Rush-->
			<td> 
				<div class =tooltip>
					<img id = "S3" src = "../images/perk/8230.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class ="nonKey">
			<!--Nullifying Orb-->
			<td> 
				<div class =tooltip>
					<img id = "S4" src = "../images/perk/8224.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			 <!--Manaflow Band-->
			<td> 
				<div class =tooltip>
					<img id = "S5" src = "../images/perk/8226.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--The Ultimate Hat-->
			<td> 
				<div class =tooltip>
					<img id = "S6" src = "../images/perk/8243.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class ="nonKey">
			<!--Transcendence-->
			<td> 
				<div class =tooltip>
					<img id = "S7" src = "../images/perk/8210.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Celerity-->
			<td> 
				<div class =tooltip>
					<img id = "S8" src = "../images/perk/8234.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Absolute Focus-->
			<td> 
				<div class =tooltip>
					<img id = "S9" src = "../images/perk/8233.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class = "nonKey">
			<!--Scorch-->
			<td> 
				<div class =tooltip>
					<img id = "S10" src = "../images/perk/8237.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Waterwalking-->
			<td> 
				<div class =tooltip>
					<img id = "S11" src = "../images/perk/8232.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Gathering Storm-->
			<td> 
				<div class =tooltip>
					<img id = "S12" src = "../images/perk/8236.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
	</table>
	<table class ="InspirationTree">
		<tr>
			<th colspan="3">Inspiration</td>
		</tr>
		<tr class = "key">
			<!--Unsealed Spellbook-->
			<td> 
				<div class =tooltip>
					<img id = "I1" src = "../images/perk/8326.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Glacial Augment-->
			<td> 
				<div class =tooltip>
					<img id = "I2" src = "../images/perk/8351.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Kleptomancy-->			
			<td> 
				<div class =tooltip>
					<img id = "I3" src = "../images/perk/8359.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class ="nonKey">
			<!--Hextech Flashtraption-->
			<td> 
				<div class =tooltip>
					<img id = "I4" src = "../images/perk/8306.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Biscuit Delivery-->
			<td> 
				<div class =tooltip>
					<img id = "I5" src = "../images/perk/8345.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Perfect Timing-->
			<td> 
				<div class =tooltip>
					<img id = "I6" src = "../images/perk/8313.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class ="nonKey">
			<!--Magical Footwear-->
			<td> 
				<div class =tooltip>
					<img id = "I7" src = "../images/perk/8304.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Future Market-->
			<td> 
				<div class =tooltip>
					<img id = "I8" src = "../images/perk/8321.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Minion Dematerializer-->
			<td> 
				<div class =tooltip>
					<img id = "I9" src = "../images/perk/8316.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class = "nonKey">
			<!--Cosmic Insight-->
			<td> 
				<div class =tooltip>
					<img id = "I10" src = "../images/perk/8347.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Approach Velocity-->
			<td> 
				<div class =tooltip>
					<img id = "I11" src = "../images/perk/8410.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td> 
			<!--Celestial Body-->
			<td> 
				<div class =tooltip>
					<img id = "I12" src = "../images/perk/8339.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
	</table>
	<table class ="ResolveTree">
		<tr>
			<th colspan="3">Resolve</td>
		</tr>
		<tr class = "key">
			<!--Grasp Of The Undying-->
			<td> 
				<div class =tooltip>
					<img id = "R1" src = "../images/perk/8437.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Aftershcok-->
			<td> 
				<div class =tooltip>
					<img id = "R2" src = "../images/perk/8439.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Guardian-->
			<td> 
				<div class =tooltip>
					<img id = "R3" src = "../images/perk/8465.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class ="nonKey">
			 <!--Unflinching-->
			<td> 
				<div class =tooltip>
					<img id = "R4" src = "../images/perk/8242.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Demolish-->
			<td> 
				<div class =tooltip>
					<img id = "R5" src = "../images/perk/8446.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Font Of Life-->
			<td> 
				<div class =tooltip>
					<img id = "R6" src = "../images/perk/8463.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class ="nonKey">
			<!--Iron Skin-->
			<td> 
				<div class =tooltip>
					<img id = "R7" src = "../images/perk/8430.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Mirror Shell-->
			<td> 
				<div class =tooltip>
					<img id = "R8" src = "../images/perk/8435.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Conditioning-->
			<td> 
				<div class =tooltip>
					<img id = "R9" src = "../images/perk/8429.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
		<tr class = "nonKey">
			<!--Overgrowth-->
			<td> 
				<div class =tooltip>
					<img id = "R10" src = "../images/perk/8451.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Revitalize-->
			<td> 
				<div class =tooltip>
					<img id = "R11" src = "../images/perk/8453.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
			<!--Second Wind-->
			<td> 
				<div class =tooltip>
					<img id = "R12" src = "../images/perk/8444.png"/>
					<span class="tooltiptext">
						Tooltip text
					</span>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>